


.larghezza-iframe-spotify {
    width: 100%;
}

/* On screens that are 992px or less, set the background color to blue */
/* @media screen and (min-width: 992px) {
    .larghezza-iframe-spotify {
        width: 100%;
    }
} */

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 600px) {
    .larghezza-iframe-spotify {
        width: 70%;
    }
}

a {
    text-decoration: none;
}

.w3-card, .w3-card-2 {
    box-shadow: 0 13px 20px 10px rgba(0, 0, 0, 0.16), 0px 10px 20px 9px rgba(0, 0, 0, 0.12);
}

.background-violet {
    color: #ffffff !important;
    background-color: #34046d !important;
}