


.larghezza-iframe-spotify {
    width: 100%;
    
}


@media screen and (min-width: 600px) {
    .larghezza-iframe-spotify {
        width: 100%;
    }
}

a {
    text-decoration: none;
}

.background-violet {
    color: #ffffff !important;
    background-color: #34046d !important;
}


.w3-card, .w3-card-2 {
    box-shadow: 0 13px 20px 10px rgba(0, 0, 0, 0.16), 0px 10px 20px 9px rgba(0, 0, 0, 0.12);
}

.ombranavbar {
box-shadow: 0 13px 20px 10px rgba(0, 0, 0, 0.16), 0px 10px 20px 9px rgba(0, 0, 0, 0.12);
}

.coloregrandezzapadding {
    max-width: -webkit-fill-available;
    background-color: whitesmoke;
    margin: unset;
}

@font-face {
    font-family: norse;
    src: url("/font/Norse-KaWl.otf");
}

.letterefooter {
    font-size: small;
    font-family: system-ui;
    font-weight: 500
}


@media screen and (min-width: 600px) {
    .letterefooter {
        font-size: larger;
    }
}

.grandezzaicone
{
    font-size: 40px;
    position: relative;
    top: 30px;
}

.spazioiconesoundcloudplayer {
    padding-bottom: 140px;
}


 